<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>books</title>
</head>
<body>

<div layout:fragment="admin_content">
    <div class="container">
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img th:src="@{${brand.getImageUrl()}}" width="180" height="220"/>
                    </div>
                    <div class="col-8">
                        <h3 class="card-title" th:text="${brand.getBrandName()}">name</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>id</td>
                        <td th:text="${brand.getId()}">id</td>
                    </tr>
                </table>
                <hr>
                <div>
                    <a th:href="@{/admin/brands/update/{id}(id=${brand.getId()})}" type="button" class="btn btn-primary">Update</a>
                </div>
                <hr>
                <div>
                    <a th:href="@{'/admin/products/new/' + ${brand.getId()}}" type="button" class="btn btn-primary">Add new product</a>
                </div>
                <hr>
                <div>
                    <a th:href="@{'/admin/products/brands/' + ${brand.getId()}}" type="button" class="btn btn-primary">Show all products</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
