<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>New Brand</title>
</head>
<body>

<div layout:fragment="admin_content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New brand</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/admin/brands/create}" th:object="${brand}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="brandName">Brand name</label>
                            <input type="text" class="form-control" id="brandName" aria-describedby="brandName" placeholder="Enter brand name" th:field="*{brandName}">
                        </div>
                        <div class="form-group">
                            <label for="brandImage">Brand image url</label>
                            <input type="text" class="form-control" id="brandImage" aria-describedby="brandImage" placeholder="Enter brand image url" th:field="*{brandImage}">
                        </div>
<!--                        <div class="form-group">-->
<!--                            <input type="file" name="file" class="form-control-file">-->
<!--                        </div>-->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
